<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">
    <application
        android:allowBackup="true"
        android:label="MazeGame"
        android:theme="@android:style/Theme.NoTitleBar"
        android:supportsRtl="true">
        
        <!-- Пустой контейнер приложения. Вся магия запуска произойдет внутри Gradle! -->
        
    </application>
</manifest>
