<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns&#58;android="http://android.com">
    <application
        android&#58;allowBackup="true"
        android&#58;label="MazeGame"
        android&#58;theme="@android&#58;style/Theme.NoTitleBar"
        android&#58;supportsRtl="true">
        <activity
            android&#58;name="com.example.maze.MainActivity"
            android&#58;exported="true">
            <intent-filter>
                <action android&#58;name="android.intent.action.MAIN" />
                <category android&#58;name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
