<?xml version="1.0" encoding="utf-8"?>
<!-- Сделали схему Android базовой по умолчанию, убрав необходимость писать двоеточия -->
<manifest xmlns="http://android.com">
    <application
        allowBackup="true"
        label="MazeGame"
        theme="@style/Theme.AppCompat.Light.NoActionBar"
        supportsRtl="true">
        
        <activity
            name="com.example.maze.MainActivity"
            exported="true">
            <intent-filter>
                <action name="android.intent.action.MAIN" />
                <category name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
